@using YES_og.Models
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    stn000 stn000 = ViewBag.stn000;
    List<stn003> stn003 = ViewBag.stn003;
    var stn102 = ViewBag.stn102;
    string fnstr = ViewBag.fnstr;
}


<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>基本資料</h5>
            </div>
            <div class="ibox-content">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "stnDataForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <input type="hidden" name="crt_user" value="@stn000.crt_user"/>
                    <input type="hidden" name="crt_date" value="@stn000.crt_date"/>
                    <input type="button" class="d-none" id="getDataBtn" value="@stn000.station_id" />
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">充電站ID</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="station_id" id="station_id" value="@stn000.station_id" readonly>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">充電站名稱</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="station_name" id="station_name" value="@stn000.station_name">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">客戶ID</label>
                        <div class="col-sm-10">
                            <div class="d-flex mb-2">
                                @Html.DropDownList("station_owner", (IEnumerable<SelectListItem>)ViewBag.selectCustomerIDList, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">充電站地址</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="addr" id="addr" value="@stn000.station_address">
                            <input type="hidden" name="station_zip" id="station_zip" value="" />
                            <input type="hidden" name="station_address" id="station_address" value="@stn000.station_address" />
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">經度、緯度(充電站出入口地址)</label>
                        <div class="col-sm-10 d-flex align-items-center">
                            <input type="text" class="form-control mr-2" name="station_longitude" id="station_longitude" value="@stn000.station_longitude" readonly>
                            <input type="text" class="form-control" name="station_latitude" id="station_latitude" value="@stn000.station_latitude" readonly>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">站點類型</label>
                        <div class="col-sm-10">
                            @Html.DropDownList("station_type", (IEnumerable<SelectListItem>)ViewBag.selectTypeList, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">站點狀態</label>
                        <div class="col-sm-10">
                            @Html.DropDownList("station_status", (IEnumerable<SelectListItem>)ViewBag.selectStatusList, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">場域類別</label>
                        <div class="col-sm-10">
                            @Html.DropDownList("station_class", (IEnumerable<SelectListItem>)ViewBag.selectClassList, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">充電站所在樓層</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="station_floor" id="station_floor" value="@stn000.station_floor">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">充電站停車格</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="station_car_space" id="station_car_space" value="@stn000.station_car_space">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    @* 站點營應時間 *@
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">站點營應時間</label>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-12">
                                    <div class="panel-body p-0">
                                        <div class="panel-group" id="accordion">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h5 class="panel-title">
                                                        <a class="d-block" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">營業時間</a>
                                                    </h5>
                                                </div>
                                                <div id="collapseOne" class="panel-collapse collapse in">
                                                    <div class="panel-body row" id="startOpen">
                                                        <div class="form-group col-6">
                                                            <label class="col-12 col-form-label">週一營業開始時間</label>
                                                            <div class="col-12">
                                                                <div class="input-group clockpicker" data-autoclose="true">
                                                                    <input type="text" class="form-control" name="tStart1" id="tStart1" value="@stn003.Where(x=>x.week_start=="1" && x.week_end=="1").FirstOrDefault().time_start.Insert(2,":")">
                                                                    <span class="input-group-addon">
                                                                        <span class="fa fa-clock-o"></span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-6">
                                                            <label class="col-12 col-form-label">週一營業結束時間</label>
                                                            <div class="col-12">
                                                                <div class="input-group clockpicker" data-autoclose="true">
                                                                    <input type="text" class="form-control" name="tEnd1" id="tEnd1" value="@stn003.Where(x=>x.week_start=="1" && x.week_end=="1").FirstOrDefault().time_end.Insert(2,":")">
                                                                    <span class="input-group-addon">
                                                                        <span class="fa fa-clock-o"></span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-6">
                                                            <label class="col-12 col-form-label">週二營業開始時間</label>
                                                            <div class="col-12">
                                                                <div class="input-group clockpicker" data-autoclose="true">
                                                                    <input type="text" class="form-control" name="tStart2" id="tStart2" value="@stn003.Where(x=>x.week_start=="2" && x.week_end=="2").FirstOrDefault().time_start.Insert(2,":")">
                                                                    <span class="input-group-addon">
                                                                        <span class="fa fa-clock-o"></span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-6">
                                                            <label class="col-12 col-form-label">週二營業結束時間</label>
                                                            <div class="col-12">
                                                                <div class="input-group clockpicker" data-autoclose="true">
                                                                    <input type="text" class="form-control" name="tEnd2" id="tEnd2" value="@stn003.Where(x=>x.week_start=="2" && x.week_end=="2").FirstOrDefault().time_end.Insert(2,":")">
                                                                    <span class="input-group-addon">
                                                                        <span class="fa fa-clock-o"></span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-6">
                                                            <label class="col-12 col-form-label">週三營業開始時間</label>
                                                            <div class="col-12">
                                                                <div class="input-group clockpicker" data-autoclose="true">
                                                                    <input type="text" class="form-control" name="tStart3" id="tStart3" value="@stn003.Where(x=>x.week_start=="3" && x.week_end=="3").FirstOrDefault().time_start.Insert(2,":")">
                                                                    <span class="input-group-addon">
                                                                        <span class="fa fa-clock-o"></span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-6">
                                                            <label class="col-12 col-form-label">週三營業結束時間</label>
                                                            <div class="col-12">
                                                                <div class="input-group clockpicker" data-autoclose="true">
                                                                    <input type="text" class="form-control" name="tEnd3" id="tEnd3" value="@stn003.Where(x=>x.week_start=="3" && x.week_end=="3").FirstOrDefault().time_end.Insert(2,":")">
                                                                    <span class="input-group-addon">
                                                                        <span class="fa fa-clock-o"></span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-6">
                                                            <label class="col-12 col-form-label">週四營業開始時間</label>
                                                            <div class="col-12">
                                                                <div class="input-group clockpicker" data-autoclose="true">
                                                                    <input type="text" class="form-control" name="tStart4" id="tStart4" value="@stn003.Where(x=>x.week_start=="4" && x.week_end=="4").FirstOrDefault().time_start.Insert(2,":")">
                                                                    <span class="input-group-addon">
                                                                        <span class="fa fa-clock-o"></span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-6">
                                                            <label class="col-12 col-form-label">週四營業結束時間</label>
                                                            <div class="col-12">
                                                                <div class="input-group clockpicker" data-autoclose="true">
                                                                    <input type="text" class="form-control" name="tEnd4" id="tEnd4" value="@stn003.Where(x=>x.week_start=="4" && x.week_end=="4").FirstOrDefault().time_end.Insert(2,":")">
                                                                    <span class="input-group-addon">
                                                                        <span class="fa fa-clock-o"></span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-6">
                                                            <label class="col-12 col-form-label">週五營業開始時間</label>
                                                            <div class="col-12">
                                                                <div class="input-group clockpicker" data-autoclose="true">
                                                                    <input type="text" class="form-control" name="tStart5" id="tStart5" value="@stn003.Where(x=>x.week_start=="5" && x.week_end=="5").FirstOrDefault().time_start.Insert(2,":")">
                                                                    <span class="input-group-addon">
                                                                        <span class="fa fa-clock-o"></span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-6">
                                                            <label class="col-12 col-form-label">週五營業結束時間</label>
                                                            <div class="col-12">
                                                                <div class="input-group clockpicker" data-autoclose="true">
                                                                    <input type="text" class="form-control" name="tEnd5" id="tEnd5" value="@stn003.Where(x=>x.week_start=="5" && x.week_end=="5").FirstOrDefault().time_end.Insert(2,":")">
                                                                    <span class="input-group-addon">
                                                                        <span class="fa fa-clock-o"></span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-6">
                                                            <label class="col-12 col-form-label">週六營業開始時間</label>
                                                            <div class="col-12">
                                                                <div class="input-group clockpicker" data-autoclose="true">
                                                                    <input type="text" class="form-control" name="tStart6" id="tStart6" value="@stn003.Where(x=>x.week_start=="6" && x.week_end=="6").FirstOrDefault().time_start.Insert(2,":")">
                                                                    <span class="input-group-addon">
                                                                        <span class="fa fa-clock-o"></span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-6">
                                                            <label class="col-12 col-form-label">週六營業結束時間</label>
                                                            <div class="col-12">
                                                                <div class="input-group clockpicker" data-autoclose="true">
                                                                    <input type="text" class="form-control" name="tEnd6" id="tEnd6" value="@stn003.Where(x=>x.week_start=="6" && x.week_end=="6").FirstOrDefault().time_end.Insert(2,":")">
                                                                    <span class="input-group-addon">
                                                                        <span class="fa fa-clock-o"></span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-6">
                                                            <label class="col-12 col-form-label">週日營業開始時間</label>
                                                            <div class="col-12">
                                                                <div class="input-group clockpicker" data-autoclose="true">
                                                                    <input type="text" class="form-control" name="tStart7" id="tStart7" value="@stn003.Where(x=>x.week_start=="7" && x.week_end=="7").FirstOrDefault().time_start.Insert(2,":")">
                                                                    <span class="input-group-addon">
                                                                        <span class="fa fa-clock-o"></span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-6">
                                                            <label class="col-12 col-form-label">週日營業結束時間</label>
                                                            <div class="col-12">
                                                                <div class="input-group clockpicker" data-autoclose="true">
                                                                    <input type="text" class="form-control" name="tEnd7" id="tEnd7" value="@stn003.Where(x=>x.week_start=="7" && x.week_end=="7").FirstOrDefault().time_end.Insert(2,":")">
                                                                    <span class="input-group-addon">
                                                                        <span class="fa fa-clock-o"></span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">場域端聯絡人員</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="contact_person_local" id="contact_person_local" value="@stn000.contact_person_local">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">場域端聯絡手機</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="contact_mobile_local" id="contact_mobile_local" value="@stn000.contact_mobile_local">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">場域端聯絡人電話/分機</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="customer_phone2_local" id="customer_phone2_local" value="@stn000.customer_phone2_local">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">場域端聯絡人E-Mail</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="contact_email_local" id="contact_email_local" value="@stn000.contact_email_local">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">場域端聯絡人LineID</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="contact_lineid_local" id="contact_lineid_local" value="@stn000.contact_lineid_local">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">場域端聯絡人傳真</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="contact_fax_local" id="contact_fax_local" value="@stn000.contact_fax_local">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">註記1(會在對外APP顯示)</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" name="station_note" id="station_note">@stn000.station_note</textarea>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">註記2(僅在內部系統顯示)</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" name="station_note1" id="station_note1">@stn000.station_note1</textarea>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    @* 充電樁 *@
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    @*<th></th>*@
                                    <th>充電槍號(槍ID)</th>
                                    @*<th>型號</th>*@
                                    @*<th>廠牌</th>*@
                                    @*<th>充電槍規格</th>*@
                                    <th>充電樁ID</th>
                                    <th>充電樁序號(設備序號)</th>
                                    <th>設備驗收日期</th>
                                    <th>設備保固起訖日期</th>
                                    <th>充電樁所在樓層</th>
                                    <th>充電槍對應停車格</th>
                                    <th>充電槍狀態</th>
                                    <th>費率方案</th>
                                </tr>
                            </thead>
                            <tbody id="spotList">
                            </tbody>
                        </table>
                    </div>
                    <div class="hr-line-dashed"></div>

                    @* 匯入 *@
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>網路類型</th>
                                    <th>手機門號/線路編號</th>
                                    <th>IP位置</th>
                                    <th>SIM卡ID/數據機型號</th>
                                    <th>電信方案</th>
                                    <th>電信方案啟用日期</th>
                                    <th>電信方案結束日期</th>
                                </tr>
                            </thead>
                            <tbody id="netWorkList">
                            </tbody>
                        </table>
                    </div>
                    <div class="hr-line-dashed"></div>

                    @* 主圖 *@
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">主圖</label>
                        <div class="col-sm-10">
                            <div class="row">
                                @if (!string.IsNullOrEmpty(fnstr))
                                {
                                    Array fnstrArr = fnstr.Split(',');
                                    foreach (var fn in fnstrArr)
                                    {
                                        if (fn != "")
                                        {
                                            string picname2 = Server.MapPath("~/upfiles/stnFiles/" + stn000.station_id + "/" + "01" + "/") + fn;
                                            //type2
                                            if (System.IO.File.Exists(picname2))
                                            {
                                                <div class="col-md-6 d-flex align-items-center mb-3" id="@fn">
                                                    @try
                                                    {
                                                        System.Drawing.Bitmap bImage = (System.Drawing.Bitmap)System.Drawing.Image.FromFile(picname2, true);
                                                        MemoryStream ms = new MemoryStream();
                                                        bImage.Save(ms, System.Drawing.Imaging.ImageFormat.Jpeg);
                                                        bImage.Dispose();

                                                        byte[] byteImage = ms.ToArray();
                                                        ms.Close();


                                                        var base64 = Convert.ToBase64String(byteImage);
                                                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                                                        <img src="@imgSrc" class="myImg mr-1" style="width:30px; height:30px;" alt="@fn">

                                                    }
                                                    catch (Exception e)
                                                    {
                                                    }

                                                    <a class="remove mr-1" href="/Station/GetFile/@stn000.station_id?type=01&filename=@fn"><i class="fa fa-download" aria-hidden="true"></i>@fn</a>

                                                    @*<a href="javascript:void(0)" class="removeFile remove text-danger" onclick="remove('@stn000.station_id', '01', '@fn')"><i class="fa fa-times-circle"></i></a>*@
                                                </div>

                                            }

                                        }
                                    }

                                }
                            </div>
                        </div>
                    </div>

                    @* 其他圖 *@
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">其他圖</label>
                        <div class="col-sm-10">
                            <div class="row">
                                @if (!string.IsNullOrEmpty(fnstr))
                                {
                                    Array fnstrArr = fnstr.Split(',');
                                    foreach (var fn in fnstrArr)
                                    {
                                        if (fn != "")
                                        {
                                            string picname1 = Server.MapPath("~/upfiles/stnFiles/" + stn000.station_id + "/" + "00" + "/") + fn;
                                            //type1
                                            if (System.IO.File.Exists(picname1))
                                            {
                                                <div class="col-md-6 d-flex align-items-center mb-3" id="@fn">
                                                    @try
                                                    {
                                                        System.Drawing.Bitmap bImage = (System.Drawing.Bitmap)System.Drawing.Image.FromFile(picname1, true);
                                                        MemoryStream ms = new MemoryStream();
                                                        bImage.Save(ms, System.Drawing.Imaging.ImageFormat.Jpeg);
                                                        bImage.Dispose();

                                                        byte[] byteImage = ms.ToArray();
                                                        ms.Close();


                                                        var base64 = Convert.ToBase64String(byteImage);
                                                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                                                        <img src="@imgSrc" class="myImg mr-1" style="width:30px; height:30px;" alt="@fn">

                                                    }
                                                    catch (Exception e)
                                                    {
                                                    }

                                                    <a class="remove mr-1" href="/Station/GetFile/@stn000.station_id?type=00&filename=@fn"><i class="fa fa-download" aria-hidden="true"></i>@fn</a>

                                                    @*<a href="javascript:void(0)" class="removeFile remove text-danger" onclick="remove('@stn000.station_id', '00', '@fn')"><i class="fa fa-times-circle"></i></a>*@
                                                </div>
                                            }
                                        }
                                    }

                                }
                            </div>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="text-right">
                        <a href="/Station/Index" class="btn btn-white">返回</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@* 充電站-選擇加入站點的手機門號/線路編號 *@
<div class="modal inmodal fade" id="netWorkModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">充電站-選擇加入站點的手機門號/線路編號</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="networkTable">
                                <thead>
                                    <tr>
                                        <th>
                                            <input class="" type="checkbox" name="select-all" id="select-all">
                                        </th>
                                        <th>手機門號/線路編號</th>
                                        <th>網路類型</th>
                                        <th>IP位置</th>
                                        <th>SIM卡ID/數據機型號</th>
                                        <th>電信方案</th>
                                        <th>電信方案啟用日期</th>
                                        <th>電信方案結束日期</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var i in stn102)
                                    {
                                        <tr>
                                            <td>
                                                <input class="" type="checkbox" name="network_id" id="network_id" value="@i.network_id">
                                            </td>
                                            <td>@i.network_no</td>
                                            <td>@i.network_type</td>
                                            <td>@i.network_ip</td>
                                            <td>@i.network_sn</td>
                                            <td>@i.network_fee</td>
                                            <td>@i.active_date</td>
                                            <td>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">返回</button>
                <button type="button" class="btn btn-success" id="addNetWork">新增</button>
            </div>
        </div>
    </div>
</div>

@* 顯示圖片modal *@
<div class="modal inmodal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size:4rem; color:#bbb; opacity:1;">
            <span aria-hidden="true">&times;</span>
        </button>
        <img class="modal-content" style="width:100%;">
        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
    </div>
</div>


@section Scripts {
    <script>
        var netWorkCount = 0;
        var netWorkTrCount = 0;
        var spotCount = 0;
        var spotTrCount = 0;
        $(document).ready(function () {
            $('#networkTable').DataTable({
                pageLength: 25,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                order: [[7, 'desc']],
                buttons: [
                ]
            });

            //找充電樁資料
            $('#getDataBtn').trigger('click');
        });

        //找充電樁資料
        $('#getDataBtn').on('click', function () {
            debugger;
            var station_id = $(this).val();

            $.ajax({
                type: "POST",
                async: true,
                url: "/Station/GetEditData",
                data: {
                    station_id: station_id
                },
                dataType: "json",
                success: function (data) {
                    debugger;
                    spotTrCount = data.jObjectSpotList.length;
                    $('#spotList').append(GetEditSpotItem(data));
                    $('.date').datepicker();
                }
            });

        });

        //append 充電樁編輯資料
        function GetEditSpotItem(data) {
            var sb = new StringBuffer();
            //充電樁狀態
            var DdlSSList = data.DdlSSList;
            //費率
            //var DdlFeeList = data.DdlFeeList;

            //資料陣列的流水號
            //var arr = spotTrCount;
            for (var i = 0; i < data.jObjectSpotList.length; i++) {
                spotCount++;
                var num = spotCount - 1;

                sb.append('<tr name="' + data.jObjectSpotList[i].chargespot_seq + '" class="' + spotCount + '">');
                //sb.append('    <td class="text-center">');
                //sb.append('        <a href="javascript:void(0)" name="delSpotBtn" btn-val="' + data.jObjectSpotList[i].chargespot_seq + '" btn-id="' + data.jObjectSpotList[i].chargespot_id +'"><i class="fa fa-minus-circle text-danger"></i></a>');
                //sb.append('    </td>');
                //充電槍ID
                sb.append('    <td>');
                sb.append(''+ data.jObjectSpotList[i].chargespot_id + '');
                sb.append('    </td>');
                //型號
                //sb.append('    <td>');
                //sb.append('        <input type="text" class="form-control minW" name="" value="" readonly>');
                //sb.append('    </td>');
                //廠牌
                //sb.append('    <td>');
                //sb.append('        <input type="text" class="form-control minW" name="" value="" readonly>');
                //sb.append('    </td>');
                //充電槍規格
                //sb.append('    <td>');
                //sb.append('        <input type="text" class="form-control minW" name="" value="" readonly>');
                //sb.append('    </td>');
                //充電樁ID
                sb.append('    <td>');
                sb.append(' ' + data.jObjectSpotList[i].chargespot_seq + '');
                sb.append('    </td>');
                //充電樁序號(設備序號)
                sb.append('    <td>');
                sb.append(' ' + data.jObjectSpotList[i].device_sn + '');
                sb.append('    </td>');
                //設備驗收日期
                sb.append('    <td>');
                sb.append('' + data.jObjectSpotList[i].acpt_time + '');
                sb.append('    </td>');
                //設備保固起訖日期
                sb.append('    <td>');
                sb.append('' + data.jObjectSpotList[i].wty_start + '');
                sb.append('        - ');
                sb.append('' + data.jObjectSpotList[i].wty_end + '');
                sb.append('        </div>');
                sb.append('    </td>');
                //充電樁所在樓層
                sb.append('    <td>');
                sb.append('' + data.jObjectSpotList[i].spot_floor + '');
                sb.append('    </td>');
                //充電槍對應停車格
                sb.append('    <td>');
                sb.append('' + data.jObjectSpotList[i].spot_car_space + '');
                sb.append('    </td>');
                //充電槍狀態
                sb.append('    <td>');
                sb.append(' ' + data.jObjectSpotList[i].spot_status + '');
                sb.append('    </td>');
                //費率方案
                sb.append('    <td>');
                //充電槍序號(充電樁第幾支槍)
                sb.append(' <input type="hidden" name="SpotItems[' + num + '].chargegun_seq" value="' + data.jObjectSpotList[i].chargegun_seq + '"> ');
                //站ID
                sb.append(' <input type="hidden" name="SpotItems[' + num + '].station_id" value="' + data.jObjectSpotList[i].station_id + '"> ');
                sb.append(' <input type="hidden" name="SpotItems[' + num + '].device_id" value="' + data.jObjectSpotList[i].device_id + '"> ');
                sb.append('       - ');
                sb.append('    </td>');
                sb.append('</tr>');

            }
            var html = sb.toString();
            return html;


        }



        // Get the modal
        var modal = $("#myModal");
        var modalImg = modal.find('.modal-content');
        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = $(".myImg");
        var captionBox = $("#caption");

        img.click(function () {
            modalImg.attr('src', $(this).attr('src'));
            captionBox.text($(this).attr('alt'));
            $('#myModal').modal('show')
        });



        //第2層地區選單
        $('#stnDataForm').on('change',
            '#country',
            function () {
                debugger;
                var $form = $(this).closest('form');
                $.ajax({
                    type: "POST",
                    async: true,
                    url: "/Station/GetDistrict",
                    data: {
                        selectData: $(this).val()
                    },
                    dataType: "json",
                    success: function (data) {
                        //把option清空
                        var $sel = $form.find('select[name="district"]');
                        $sel.empty();
                        var bindVal = $sel.attr('BindVal') != null ? $sel.attr('BindVal') : "";
                        $.each(data.DdlDistrictList,
                            function (index, item) {
                                var id = item.Id;
                                var level2Name = item.Level2Name;
                                var selectedStr = bindVal == id ? "selected" : "";
                                $sel.append(
                                    "<option value='" + id + " '" + selectedStr + ">" + level2Name + "</option>");
                            });

                    }
                });
            });

        //append 時間
        $('#startCheckbox').on('change', function (event) {
            if (this.checked) {
                var sValue = $("#startTime").val();
                $("#startOpen input").val(sValue);

            } else {
                $("#startOpen input").val("");
                $("#startTime").val("");
            }
        });

        $('#endCheckbox').on('change', function (event) {
            if (this.checked) {
                var eValue = $("#endTime").val();
                $("#endClose input").val(eValue);

            } else {
                $("#endClose input").val("");
                $("#endTime").val("");
            }
        });

        //匯入 資料
        $('#addNetWork').on('click', function () {
            var idArr = new Array();
            $("input[name=network_id]:checked").each(function () {
                idArr.push(this.value);
                idArr.join(",");
            });
            console.log(idArr);
            var idStr = [idArr].toString();

            $.ajax({
                type: "POST",
                async: true,
                url: "/Station/GetNetWorkList",
                data: {
                    idStr: idStr
                },
                dataType: "json",
                success: function (data) {
                    debugger;
                    //$('#netWorkList').empty();
                    netWorkTrCount = data.jObjectNetWorkList.length;
                    $('#netWorkList').append(GetNetWorkList(data));
                    $('#netWorkModal').modal('hide');
                }
            });


        });
        //append 匯入資料
        function GetNetWorkList(data) {
            var sb = new StringBuffer();

            for (var i = 0; i < data.jObjectNetWorkList.length; i++) {
                netWorkCount++;

                sb.append('<tr name="nw' + netWorkCount + '">');
                sb.append('    <td><a href="javascript:void(0)" name="nwdBtn"><i class="fa fa-minus-circle text-danger"></i></a> <input type="hidden" name="nwItems[' + netWorkCount + '].network_id" value="' + data.jObjectNetWorkList[i].network_id + '"></td>');
                sb.append('    <td>' + data.jObjectNetWorkList[i].network_no + '<input type="hidden" name="nwItems[' + netWorkCount + '].network_no" value="' + data.jObjectNetWorkList[i].network_no + '"> </td>');
                sb.append('    <td>' + data.jObjectNetWorkList[i].network_type + '<input type="hidden" name="nwItems[' + netWorkCount + '].network_type" value="' + data.jObjectNetWorkList[i].network_type + '"></td>');
                sb.append('    <td>' + data.jObjectNetWorkList[i].network_ip + '<input type="hidden" name="nwItems[' + netWorkCount + '].network_ip" value="' + data.jObjectNetWorkList[i].network_ip + '"></td>');
                sb.append('    <td>' + data.jObjectNetWorkList[i].network_sn + '<input type="hidden" name="nwItems[' + netWorkCount + '].network_sn" value="' + data.jObjectNetWorkList[i].network_sn + '"></td>');
                sb.append('    <td>' + data.jObjectNetWorkList[i].network_fee + '<input type="hidden" name="nwItems[' + netWorkCount + '].network_fee" value="' + data.jObjectNetWorkList[i].network_fee + '"></td>');
                sb.append('</tr>');
            }
            var html = sb.toString();
            return html;
        }

        //新增充電樁
        $('#addSpotBtn').on('click', function () {
            var devId = $('#device_model').val();
            var sId = $('#station_id').val();
            debugger;
            $.ajax({
                type: "POST",
                async: true,
                data: {
                    devId: devId,
                    sId: sId
                },
                url: "/Station/GetSpotItem",
                dataType: "json",
                success: function (data) {
                    debugger;
                    //spotCount++;
                    //potTrCount = data.jObjectSpotList.length;
                    $('#spotList').append(GetSpotItem(data));
                    //potTrCount++;
                    $('.date').datepicker();
                }
            });


        });

        //append 充電樁
        function GetSpotItem(data) {
            var sb = new StringBuffer();
            //型號
            //var DdlDMList = data.DdlDMList;
            //充電樁狀態
            var DdlSSList = data.DdlSSList;
            //費率
            //var DdlFeeList = data.DdlFeeList;

            for (var i = 0; i < data.jObjectSpotList.length; i++) {
                 //資料陣列的流水號
                spotCount++;
                var num = spotCount - 1;

                sb.append('<tr name="' + data.jObjectSpotList[i].chargespot_seq +'" class="'+spotCount+'">');
                //sb.append('    <td class="text-center">');
                //sb.append('        <a href="javascript:void(0)" name="delSpotBtn" btn-val="' + data.jObjectSpotList[i].chargespot_seq + '" btn-id="' + data.jObjectSpotList[i].chargespot_id +'"><i class="fa fa-minus-circle text-danger"></i></a>');
                //sb.append('    </td>');
                //充電槍ID
                sb.append('    <td>');
                sb.append('        <input type="number" class="form-control minW" name="SpotItems[' + num + '].chargespot_id" value="' + data.jObjectSpotList[i].chargespot_id + '" readonly>');
                sb.append('    </td>');
                //型號
                //sb.append('    <td>');
                //sb.append('        <input type="text" class="form-control minW" name="" value="' + data.device_model + '" readonly>');
                //sb.append('    </td>');
                //廠牌
                sb.append('    <td>');
                sb.append('        <input type="text" class="form-control minW" name="" value="' + data.company_name + '" readonly>');
                sb.append('    </td>');
                //充電槍規格
                sb.append('    <td>');
                sb.append('        <input type="text" class="form-control minW" name="" value="' + data.charger_plug + '" readonly>');
                sb.append('    </td>');
                //充電樁ID
                sb.append('    <td>');
                sb.append('        <input type="text" class="form-control minW" name="SpotItems[' + num + '].chargespot_seq" value="' + data.jObjectSpotList[i].chargespot_seq +'" readonly>');
                sb.append('    </td>');
                //充電樁序號(設備序號)
                sb.append('    <td>');
                sb.append('        <input type="number" class="form-control minW" name="SpotItems[' + num + '].device_sn" value="">');
                sb.append('    </td>');
                //設備驗收日期
                sb.append('    <td>');
                sb.append('        <div class="input-group date" style="flex-wrap: nowrap;">');
                sb.append('            <span class="input-group-addon">');
                sb.append('                <i class="fa fa-calendar"></i>');
                sb.append('            </span>');
                sb.append('            <input type="text" class="form-control minW" name="SpotItems[' + num + '].acpt_time">');
                sb.append('        </div>');
                sb.append('    </td>');
                //設備保固起訖日期
                sb.append('    <td>');
                sb.append('        <div class="input-group date" style="flex-wrap: nowrap;">');
                sb.append('            <span class="input-group-addon">');
                sb.append('                <i class="fa fa-calendar"></i>');
                sb.append('            </span>');
                sb.append('            <input type="text" class="form-control minW" name="SpotItems[' + num + '].wty_start">');
                sb.append('        </div>');
                sb.append('        to');
                sb.append('        <div class="input-group date" style="flex-wrap: nowrap;">');
                sb.append('            <span class="input-group-addon">');
                sb.append('                <i class="fa fa-calendar"></i>');
                sb.append('            </span>');
                sb.append('            <input type="text" class="form-control minW" name="SpotItems[' + num + '].wty_end">');
                sb.append('        </div>');
                sb.append('    </td>');
                //充電樁所在樓層
                sb.append('    <td>');
                sb.append('        <input type="text" class="form-control minW" name="SpotItems[' + num + '].spot_floor">');
                sb.append('    </td>');
                //充電槍對應停車格
                sb.append('    <td>');
                sb.append('        <input type="text" class="form-control minW" placeholder="請輸入車格數字" style="min-width:130px;" name="SpotItems[' + num + '].spot_car_space">');
                sb.append('    </td>');
                //充電槍狀態
                sb.append('    <td>');
                sb.append('        <select class="form-control m-b minW" name="SpotItems[' + num + '].spot_status">');
                $.each(DdlSSList, function (index, val) {
                    var selectedStr = data.DdlSSList == index ? "selected" : "";
                    sb.append('        <option value="' + index + '" ' + selectedStr + '>' + val + '</option>');
                });
                sb.append('        </select>');
                sb.append('    </td>');
                //費率方案
                sb.append('    <td>');
                //充電槍序號(充電樁第幾支槍)
                sb.append(' <input type="hidden" name="SpotItems[' + num + '].chargegun_seq" value="' + data.jObjectSpotList[i].chargegun_seq + '"> ');
                //站ID
                sb.append(' <input type="hidden" name="SpotItems[' + num + '].station_id" value="' + data.jObjectSpotList[i].station_id + '"> ');
                sb.append(' <input type="hidden" name="SpotItems[' + num + '].device_id" value="' + data.jObjectSpotList[i].device_id + '"> ');
                sb.append('       - ');
                sb.append('    </td>');
                sb.append('</tr>');

            }
            var html = sb.toString();
            return html;


        }


        

        


           
    </script>
}

