@model IEnumerable<YES_og.Models.stn000>
@using YES_og.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<sts000> stationType = ViewBag.stationType;
}

<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>搜尋</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                @using (Html.BeginForm())
                {
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group row">
                                <label class="col-12 col-form-label" for="SearchById">充電站ID</label>
                                <div class="col-12">
                                    @Html.TextBox("SearchById", null, new { @class = "form-control", Value = ViewData["SearchById"], autocomplete = "off" })
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group row">
                                <label class="col-12 col-form-label" for="SearchByStationOwner">客戶ID</label>
                                <div class="col-12">
                                    @Html.TextBox("SearchByStationOwner", null, new { @class = "form-control", Value = ViewData["SearchByStationOwner"], autocomplete = "off" })
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group row">
                                <label class="col-12 col-form-label" for="SearchByStationName">充電站名稱</label>
                                <div class="col-12">
                                    @Html.TextBox("SearchByStationName", null, new { @class = "form-control", Value = ViewData["SearchByStationName"], autocomplete = "off" })
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group row">
                                <label class="col-12 col-form-label" for="SearchByStationType">站點類型</label>
                                <div class="col-12">
                                    @Html.DropDownList("SearchByStationType", (IEnumerable<SelectListItem>)ViewBag.selectTypeList, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-12 text-right">
                            <button class="btn btn-info" type="submit">
                                搜尋
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>充電站基本資料</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <a class="btn btn-primary mb-3" href="/Station/Create">
                    新增資料
                </a>
                <div class="table-responsive" id="stnBox">
                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr>
                                <th>充電站ID</th>
                                <th>客戶ID</th>
                                <th>充電站名稱</th>
                                <th>站點類型</th>
                                <th>場域端聯絡手機</th>
                                <th>場域端聯絡人電話/分機</th>
                                <th>資料更新日期</th>
                                <th>功能</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var i in Model)
                            {
                                <tr>
                                    <td>@i.station_id</td>
                                    <td>@i.station_owner</td>
                                    <td>@i.station_name</td>
                                    <td>@stationType.Where(x=>x.item_id == i.station_type).FirstOrDefault().item_desc</td>
                                    <td>@i.contact_mobile_local</td>
                                    <td>@i.customer_phone2_local</td>
                                    <td>@i.upd_date</td>
                                    <td>
                                        <button class="btn btn-primary mb-3" onclick="location.href='@Url.Action("Detail", "Station", new { station_id = i.station_id})'">
                                            檢視
                                        </button>
                                        <button class="btn btn-primary mb-3" onclick="location.href='@Url.Action("Edit", "Station", new { station_id = i.station_id})'">
                                            編輯
                                        </button>
                                        <a href="javascript:void(0)" class="btn btn-danger mb-3" name="delBtn" btn-id="@i.station_id">刪除</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $("#stnBox").on("click",
            "a[name='delBtn']",
            function () {
                debugger;
                var msg = "您確定要刪除此筆資料嗎?";
                if (confirm(msg) == true) {
                    var station_id = $(this).attr('btn-id');
                    $.ajax({
                        type: "POST",
                        async: true,
                        url: "/Station/Delete",
                        data: {
                            station_id: station_id
                        },
                        dataType: "json",
                        success: function (data) {
                            debugger;
                            location.reload();
                        }
                    });

                } else {
                    return false;
                }
            });



    </script>
}