
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cncId = ViewBag.cncId;
    int cnc_id = ViewBag.cnc_id;
}

<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>基本資料</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "DataForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <input type="hidden" name="cnc_id" value="@cnc_id" />

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">案件編號</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="cncId" value="@cncId" readonly>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">姓名<small class="text-danger">*</small></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="contact_person" name="contact_person">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">手機<small class="text-danger">*</small></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="contact_mobile" name="contact_mobile">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">E-mail<small class="text-danger">*</small></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="contact_email" name="contact_email">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">車輛品牌</label>
                        <div class="col-sm-10">
                            @Html.DropDownList("veh_brand", (IEnumerable<SelectListItem>)ViewBag.selectVehList, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">郵遞區號</label>
                        <div class="col-sm-10">
                            @Html.DropDownList("zip_id", (IEnumerable<SelectListItem>)ViewBag.selectZipList, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">安裝地址<small class="text-danger">*</small></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="install_address" name="install_address">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">住宅類型</label>
                        <div class="col-sm-10">
                            @Html.DropDownList("loc_class", (IEnumerable<SelectListItem>)ViewBag.selectLocList, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">方便聯絡時段<small class="text-danger">*</small></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="contact_time" name="contact_time">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">購車據點<small class="text-danger">*</small></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="dealer_name" name="dealer_name">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">購車資訊:業代/訂單編號<small class="text-danger">*</small></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="sales_info" name="sales_info">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">申請時間</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="crt_date" value="@DateTime.Now.ToShortDateString()" readonly>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">目前進度</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" value="未聯繫" readonly>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">車主備註</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="note">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">更新狀態</label>
                        <div class="col-sm-10">
                            @Html.DropDownList("cnc_status", (IEnumerable<SelectListItem>)ViewBag.selectStatusList, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">業務備註</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="note1">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row ">
                        <label class="col-sm-2 col-form-label">場勘時間</label>
                        <div class="col-sm-10">
                            @*<input type="datetime-local" class="form-control" name="survey_time">*@
                            <div class="row">
                                <div class="input-group date col-6">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input type="text" class="form-control" name="surveyDate">
                                </div>
                                <div class="input-group clockpicker col-6" data-autoclose="true">
                                    <input type="text" class="form-control" name="surveyTime">
                                    <span class="input-group-addon">
                                        <span class="fa fa-clock-o"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">場勘照片</label>
                        <div class="col-sm-10">
                            <div id="aUploadArea">
                                <input type="file" multiple max-size="10485760" accept-extension="docx|doc|pptx|ppt|jpg|jpeg|png|pdf|zip|rar|7z|xlsx" />
                                <span style="word-break: break-all;" class="d-block small noticeTxt">(僅接受 DOCX,DOC,PPTX,PPT,JPG,JPEG,PNG,PDF,ZIP,RAR,7Z,xlsx)</span>
                                <div id='aUploadFileList' class="filename"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">報價單</label>
                        <div class="col-sm-10">
                            <div id="bUploadArea">
                                <input type="file" multiple max-size="10485760" accept-extension="docx|doc|pptx|ppt|jpg|jpeg|png|pdf|zip|rar|7z|xlsx" />
                                <span style="word-break: break-all;" class="d-block small noticeTxt">(僅接受 DOCX,DOC,PPTX,PPT,JPG,JPEG,PNG,PDF,ZIP,RAR,7Z,xlsx)</span>
                                <div id='bUploadFileList' class="filename"></div>
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row ">
                        <label class="col-sm-2 col-form-label">施工時間</label>
                        <div class="col-sm-10">
                            @*<input type="datetime-local" class="form-control" name="install_time">*@
                            <div class="row">
                                <div class="input-group date col-6">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input type="text" class="form-control" name="installDate">
                                </div>
                                <div class="input-group clockpicker col-6" data-autoclose="true">
                                    <input type="text" class="form-control" name="installTime">
                                    <span class="input-group-addon">
                                        <span class="fa fa-clock-o"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">施工照片</label>
                        <div class="col-sm-10">
                            <div id="cUploadArea">
                                <input type="file" multiple max-size="10485760" accept-extension="docx|doc|pptx|ppt|jpg|jpeg|png|pdf|zip|rar|7z|xlsx" />
                                <span style="word-break: break-all;" class="d-block small noticeTxt">(僅接受 DOCX,DOC,PPTX,PPT,JPG,JPEG,PNG,PDF,ZIP,RAR,7Z,xlsx)</span>
                                <div id='cUploadFileList' class="filename"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">驗收照片</label>
                        <div class="col-sm-10">
                            <div id="dUploadArea">
                                <input type="file" multiple max-size="10485760" accept-extension="docx|doc|pptx|ppt|jpg|jpeg|png|pdf|zip|rar|7z|xlsx" />
                                <span style="word-break: break-all;" class="d-block small noticeTxt">(僅接受 DOCX,DOC,PPTX,PPT,JPG,JPEG,PNG,PDF,ZIP,RAR,7Z,xlsx)</span>
                                <div id='dUploadFileList' class="filename"></div>
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="text-right">
                        <a href="/Follow/Index" class="btn btn-white">取消</a>
                        <button type="button" id="btnSave" class="btn btn-success">新增</button>
                    </div>
                }

            </div>
        </div>
    </div>

    @* E-Mail發送 *@
    @*<div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>E-Mail發送</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="tabs-container">
                        <ul class="nav nav-tabs" role="tablist">
                            <li><a class="nav-link active" data-toggle="tab" href="#tab-1">已立案</a></li>
                            <li><a class="nav-link" data-toggle="tab" href="#tab-2">場勘時間</a></li>
                            <li><a class="nav-link" data-toggle="tab" href="#tab-3">報價單</a></li>
                            <li><a class="nav-link" data-toggle="tab" href="#tab-4">施工時間</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" id="tab-1" class="tab-pane active">
                                <div class="panel-body">
                                    <p>已立案</p>
                                </div>
                            </div>
                            <div role="tabpanel" id="tab-2" class="tab-pane">
                                <div class="panel-body">
                                    <p>場勘時間</p>
                                </div>
                            </div>
                            <div role="tabpanel" id="tab-3" class="tab-pane">
                                <div class="panel-body">
                                    <p>報價單</p>
                                </div>
                            </div>
                            <div role="tabpanel" id="tab-4" class="tab-pane">
                                <div class="panel-body">
                                    <p>施工時間</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row mt-3">
                        <label class="col-sm-2 col-form-label">插入附件</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <div class="custom-file">
                                    <input id="inputGroupFile02" type="file" multiple class="custom-file-input">
                                    <label class="custom-file-label" for="inputGroupFile02">選擇檔案</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="text-right">
                        <button type="button" class="btn btn-success">
                            發送
                        </button>
                    </div>
                </div>
            </div>
        </div>*@
</div>


@section Scripts {
    <script>
        //檔案上傳
        var aUpload = [];
        $.MultiUploadFile("aUploadArea", "aUploadFileList", aUpload);
        var bUpload = [];
        $.MultiUploadFile("bUploadArea", "bUploadFileList", bUpload);
        var cUpload = [];
        $.MultiUploadFile("cUploadArea", "cUploadFileList", cUpload);
        var dUpload = [];
        $.MultiUploadFile("dUploadArea", "dUploadFileList", dUpload);

        $('#btnSave').click(function () {
            debugger;
            if (($('#contact_person').val()).length <= 0) {
                alert("請填入姓名");
                return;
            }
            if (($('#contact_mobile').val()).length <= 0) {
                alert("請填入手機");
                return;
            }
            if (($('#contact_email').val()).length <= 0) {
                alert("請填入E-mail");
                return;
            }
            if (($('#install_address').val()).length <= 0) {
                alert("請填入安裝地址");
                return;
            }
            if (($('#contact_time').val()).length <= 0) {
                alert("請填入方便聯絡時段");
                return;
            }
            if (($('#dealer_name').val()).length <= 0) {
                alert("請填入購車據點");
                return;
            }
            if (($('#sales_info').val()).length <= 0) {
                alert("請填入購車資訊:業代/訂單編號");
                return;
            }
            dataFormAjaxPost($('#DataForm'), "/Follow/Create");
        });


        function dataFormAjaxPost($dataForm, url) {

            var formData = new FormData($dataForm[0]);

            //多檔上傳的檔案夾帶
            for (var i = 0; i < aUpload.length; i++) {
                formData.append('aUpload', aUpload[i]);
            }
            for (var i = 0; i < bUpload.length; i++) {
                formData.append('bUpload', bUpload[i]);
            }
            for (var i = 0; i < cUpload.length; i++) {
                formData.append('cUpload', cUpload[i]);
            }
            for (var i = 0; i < dUpload.length; i++) {
                formData.append('dUpload', dUpload[i]);
            }

             $.ajax({
                    url: url,
                    data: formData,
                    type: 'post',
                    contentType: false,
                    processData: false,
                    cache: false,
                    //async: false,
                    datatype: 'JSON',
                    success: function (data) {
                        debugger;
                        if (data.IsSuccess) {
                            window.location = '@Url.Action("Index", "Follow")';
                        } else {
                            if (data.ModelStateErrors != null) {
                                // show model state error
                                $dataForm.validate().showErrors(data.ModelStateErrors);
                                //alert('請確認資料輸入無誤！');
                                swal({
                                    title: 'Fail',
                                    text: '請確認資料輸入無誤!',
                                    icon: 'error'
                                });
                            } else {
                                //alert('執行失敗！');
                                swal({
                                    title: 'Fail',
                                    text: '執行失敗!',
                                    icon: 'error'
                                });
                            }
                        }
                    }
                });


        }
    </script>
}

